@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body {
    background-color: rgb(235, 235, 235);
}

button{
    cursor: pointer;
}

nav {
    width: 100%;
    padding: 0px 10px;
    margin: auto;
    background-color:#fff;
    box-shadow: 0px 1px 6px rgb(172, 172, 172);
}

.header {
    width: 100%;
    margin: auto;
    padding: 15px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 100px;
    padding:0px 10px;
}
.logo img{
    width: 100%;
}
.menu {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu:hover .divisionLine {
    height: 30px;
    margin-top: 4px;
}

a {
    text-decoration: none;
}

.navBtn{
    font-weight: 700;
    font-size: 18px;
    padding: 5px 14px;
    color: rgb(145, 100, 248);
    box-shadow: 2px 2px 5px #d3d3d3,
        -2px -2px 5px #fcf4f0;
    transition: all 0.3s;
}

.navBtn:hover{
    color: rgb(78, 74, 83);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 8px 8px 10px #d3d3d3,
        -8px -8px 10px #fcf4f0;
}

.logout{
    color: #ffffff;
    background-color:#6e2fff;
    right: 5%;
}

.divisionLine {
    width: 3px;
    height: 20px;
    background-color: rgb(66, 57, 57);
    margin: 8px 4px 0px 4px;
    transition: all 0.3s;
    border-radius: 10px;
}

.main-content {
    margin-top: 0%;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 40%;
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

.content-text {
    padding: 50px;
    position: relative;
}

.content-text .title h1 {
    font-family: 'Cinzel', sans-serif;
    color: rgb(107, 101, 101);
    text-shadow: 2px 2px 1px #000000;
    font-size: 50px;
    font-weight: 700;
}

.title p {
    width: 300px;
    font-family: 'Consolas', sans-serif;
    font-size: 18px;
    text-align: left;
    margin: auto;
    line-height: 1.5;
    margin-top: 40px;
    letter-spacing: 2px;
}

.title .book-btn {
    position: absolute;
    bottom: 25%;
    left: 30%;
    width: 250px;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(255, 140, 104);
    letter-spacing: 1px;
    margin: 30px 10px 0px 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgb(255, 218, 191),-2px -4px 8px rgb(248, 235, 225);
    transition: all 0.3s;
}

.title .book-btn:hover {
    color: rgb(56, 39, 39);
    background-color: rgb(255, 145, 67);
    box-shadow: 0px 6px 12px rgb(158, 158, 158);
}

.content-image {
    margin-top: 110px;
}

.content-image img {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
}

.search-section {
    margin: auto;
    margin-top: 8%;
    width: 100%;
    background-color: #ffffff;
    padding:10px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    grid-template-columns: 50% 40%;
    margin-bottom: 100px;
    box-shadow: 2px 2px 10px #adadad,
        -2px -2px 10px #ffffff;
    border-radius: 5px;

}

.text-info{
    width:60%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}

.text-info h2,p{
    font-family: 'Cinzel', sans-serif;

}
.text-info h2{
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(82, 81, 81);
}
.text-info p{
    margin-top:14px;
    font-size: 16px;
    letter-spacing:2px;
}


.search-section .search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-bottom:50px;
    padding:20px 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #cec8c8;
}

.location{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.source-location,
.dest-location {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0px;
}

.source-location .label-from,
.dest-location .label-to {
    margin-top: -15px;
    margin-left: 10px;
    background-color: #d8d8d8;
    width: 40%;
    text-align: center;
    padding: 3px 5px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}
.dest-location .label-to {
    width: 40px !important;
}
.city-list {
    width: 60%;
}

.source-location select,
.dest-location select {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    top: 20%;
    width: 60%;
    height: 40px;
    padding: 10px;
    border: 0;
    font-family: 'Nunito', sans-serif;
    color: rgb(102, 98, 98);
    font-weight: 700;
    letter-spacing: 1px;
}

.source-location select:focus,
.dest-location select:focus {
    outline: 0;
}

.cities {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    justify-content: space-between;
    border: 2px solid rgb(182, 182, 182);
    padding: 3px;
}

.division-line {
    width: 3px;
    height: 20px;
    background-color: rgb(66, 57, 57);
    margin: 15px 4px 0px 4px;
    transition: all 0.3s;
    border-radius: 10px;
}

.source-location:hover .division-line {
    margin-top: 6px;
    height: 40px;
}

.search-image {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.city-image {
    margin-top: 10px;
    width: 40px;
    padding: 6px;
}

.fa-city {
    color: #302f2f;
    transition: all 0.3s;
}

.source-location:hover .fa-city {
    color: #0d0270;
    transform: scale(1.1)
}

.city-image img {
    width: 80%;
    transition: all 0.3s;
}

.source-location:hover img {
    transform: scale(1.3)
}

.journey-dates {
    position: relative;
    width: 100%;
    margin-top: 40px;
}

input[type=date] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    outline: 0;
    border: 0;
    width: 100%;
    color: rgb(102, 98, 98);
    font-size:15px;
    font-weight: 700;
    letter-spacing:1px;
}

.onward,
.return {
    width: 230px;
    border: 2px solid rgb(182, 182, 182);
    padding: 15px 10px;
    border-radius: 3px;
    position: relative;
}

.dates-label {
    position: absolute;
    font-weight: 600;
    top: -13px;
    text-align: center;
    background: #d8d8d8;
    border-radius:3px;
    padding: 0px 5px;
}

.search-btn {
    width: 250px;
    margin: 90px 37% 40px 37%;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(255, 140, 104);
    letter-spacing: 1px;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgb(255, 218, 191),-2px -4px 8px rgb(248, 235, 225);
    transition: all 0.3s;
}

.search-btn:hover {
    color: rgb(56, 39, 39);
    background-color: rgb(255, 145, 67);
    box-shadow: 0px 6px 12px rgb(158, 158, 158);
}

div.messageHandle{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    color: rgb(66, 95, 255);
    padding:10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}


.bus-details {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color:#FFF;
    padding:0;
    margin-bottom: 40px;
}

.bus-details ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.bus-details ul li{
    width: 100%;
    list-style-type: none;
    padding:5px;
    color:rgb(97, 89, 89);
    font-size: 15px;
    font-weight: 600;
    letter-spacing:1px;
}   

.bus-details ul li ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    box-shadow: 2px 2px 12px rgb(226, 226, 226);
}

.bus-details ul li ul li{
    padding: 15px 15px;
    transition: all 0.3s;
}
.bus-details ul li ul .viewSeatBtn{
    text-align: center;
    background-color:rgba(170, 169, 169, 0.41);
}

.bus-details ul li ul .viewSeatBtn:hover{
    cursor: pointer;
    border-radius: 3px;
    color: #FFFF;
    background-color:rgb(126, 122, 122);
}

.verification{
    background-color:rgba(252, 135, 135, 0.753);
    padding:4px 12px;
    border-radius: 3px;;
    color:rgba(0, 0, 255, 0.658);
    font-weight: 600;
    letter-spacing:1px;
}